<div class="row t52">
  <div class="col-sm-2 t51">
      <img src="http://warhol.thememountain.com/images/logos/meat-logo-grid.svg">
  </div>
  <div class="col-sm-2 t50">
      <img src="http://warhol.thememountain.com/images/logos/rosco-logo-grid.svg">
  </div>
  <div class="col-sm-2 t50">
      <img src="http://warhol.thememountain.com/images/logos/wicked-logo-grid.svg">
  </div>
  <div class="col-sm-2 t50">
      <img src="http://warhol.thememountain.com/images/logos/repetition-logo-grid.svg">
  </div>
  <div class="col-sm-2 t50">
      <img src="http://warhol.thememountain.com/images/logos/macaw-logo-grid.svg">
  </div>
  <div class="col-sm-2 t50">
      <img src="http://warhol.thememountain.com/images/logos/adventure-logo-grid.svg">
  </div>
</div>