<div class="row">
<div class="col-sm-12 col-xs-12 text-center t4">
    <p>Creations</p>
</div>
</div>
<div class="row text-center t40">
    <div *ngFor='let block of martosFavouriteArray'  [class]="block.clName">
        <h4 class="t48">{{ block.title }}</h4>
        <p class="t49">{{ block.text }}</p>
    </div> 
</div>
<!-- <div class=" t41 ">
    <h4 class="t48">Palm & Bananas</h4>
    <p class="t49">for Cinque</p>
</div>
 <div class=" t42 ">
    <h4 class="t48">Inced Up & Cool</h4>
    <p class="t49">for Type Factory</p>
</div>
 <div class=" t43 ">
    <h4 class="t48">Alike</h4>
    <p class="t49">for Helwen Clothing</p>
</div>-->



<div class="row text-center t47">
   <div *ngFor='let block of martaFavoriteArray'  [class]="block.clName">
     <h4 class="t48">{{ block.title }}</h4>
    <p class="t49">{{ block.text }}</p>
   </div>
</div>
 <!--<div class=" t45 ">
    <h4 class="t48">Big Breaeds & Home<br> Brewed Ale</h4>
    <p class="t49">for Hendricks Brewery</p>
</div>
 <div class=" t46 ">
    <h4 class="t48">Spring & Hippie</h4>
    <p class="t49">for America Apparel Clothing</p>
</div> -->

<div class="row">
  <div class="col-sm-12 col-xs-12 text-center t10">
  </div>
</div>