@import "../../variables";
.t6{
    width: auto;
    height: 330px;
    background-color:#232323;
    color:$white;
}
.t7{
    font-family:Playfair Display;
    font-style: italic;
    font-size: 20px;
}
.t8{
    font-weight:$print;
    font-size: 42px;
    margin-top: -0.9rem;

}
.t9{
    margin-top:85px;
}
.t20{
    padding-left: 150px
}
.t21{
    padding-right: 160px
}
.t22{
    font-size: 13px;
    margin-top: -20px;
    margin-right: 7px;
}