@import "../../variables";
.text{
    color:$grey;
    font-size: 40px;
    font-weight:$print;
    margin:100px 0 50px 0;
}

.t1{
    color:#2D66F7;
    margin-bottom: -0.8rem;
    font-family: Playfair Display;
    font-size: 5rem;
    margin-left: 120px;
}
.t2{
    text-align: left;
    color:#787878;
    margin-top: 36px;
    font-size: 16px;
}
.t3{
    text-align: right;
    color:$grey;
    font-weight:$print;
    margin-right: 100px;
    margin-bottom: 60px;
}
.button1 {
    border: 1px solid #2D66F7;
    border-radius: 34px;
    //padding: 11px;
    //color: #2D66F7;
    font-size: 14px;
    background-color: $white;
    
}
.button1:hover {
    background-color: #2D66F7;
    color:$white;
    cursor: pointer;
}
.button1:focus {
    outline: 0;
}