@import "../../variables";
.t4{
    font-weight:$print;
    font-size: 40px;
     font-family: Montserrat;
     padding: 90px 0 20px 0;
     color:$black;
     background-color: #F9F9F9;
 }
 .t10{
    height: 80px;
    background-color:#F9F9F9;
    width: 300px;
}
.t40{
    margin-left: 90px;
}

.t41{
    margin-left: $number;
    position: relative;
    background-image: url(/assets/images/11.png);
    width:$width ;
    height: 227px;
    
    
}
.t42{
    background-image: url(/assets/images/22.png);
    margin-left: $number;
    width:$width  ;
    height: 227px;
}
.t43{
    background-image: url(/assets/images/33.png);
    margin-left:$number; 
    width:$width;
    height: 227px;
}
 .t44{
    margin-left: $number;
    position: relative;
    background-image: url(/assets/images/44.png);
    width:$width;
    height: 227px;
}
.t45{
    background-image: url(/assets/images/55.png);
    margin-left:$number;
    width:$width;
    height: 227px;
}
.t46{
    background-image: url(/assets/images/66.png);
    margin-left:$number; 
    width:$width;
    height: 227px;
}
.t47{
    margin-left: 90px;
    margin-top:$number;
}
.t48{
    font-weight:$print;
    padding-top: 80px;
    //color:$white;
}
.t49{
    font-family: Playfair Display;
    font-size: 14px;
    //color:$white;
}