@import "../../variables";
.t4{
    font-weight: bold;
    font-size: 40px;
     font-family: Montserrat;
     padding: 90px 0 20px 0;
     color: #000;
     background-color: #F9F9F9;
 }
 .t10{
    height: 80px;
    background-color:#F9F9F9;
    width: 300px;
}
.t40{
    margin-left: 90px;
}

.t41{
    margin-left: 30px;
    position: relative;
    background-image: url(/assets/images/11.png);
    width:340px ;
    height: 227px;
    color:#FFFFFF;
    
}
.t42{
    background-image: url(/assets/images/22.png);
    margin-left: 30px;
      width:340px ;
    height: 227px;
}
.t43{
    background-image: url(/assets/images/33.png);
    margin-left: 30px; 
      width:340px ;
    height: 227px;
}
 .t44{
    margin-left: 30px;
    position: relative;
    background-image: url(/assets/images/44.png);
    width:340px ;
    height: 227px;
}
.t45{
    background-image: url(/assets/images/55.png);
    margin-left: 30px;
      width:340px ;
    height: 227px;
}
.t46{
    background-image: url(/assets/images/66.png);
    margin-left: 30px; 
    width:340px ;
    height: 227px;
}
.t47{
    margin-left: 90px;
    margin-top:30px;
}
.t48{
    font-weight: bold;
    padding-top: 80px;
    color: #FFFFFF;
}
.t49{
    font-family: Playfair Display;
    font-size: 14px;
    color: #FFFFFF;
}