.<div class="row">
  <div class="col-sm-12 col-xs-12 text-center t11">
    <div class="t12"> <p>News & Updates</p></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-xs-12 text-center t12">
      <div class="row ">
           <div class="col-sm-3 col-xs-12 text-left  t13">
              <div class="t18">
                  <a  href="http://warhol.thememountain.com/blog-single-post-sidebar-right.html"class="t15">New Vintage</a> 
                  <p class="t16">25 AUG 2015  / BY JAYDEN</p>
                  <p class="t17">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.
                  <br/><span><a href = "#">More</a></span></p>
               </div>
          </div>

          
               <div class="col-sm-3 col-xs-12 text-left t14" *ngFor='let block of newsArray'>
                  <a href="http://warhol.thememountain.com/blog-single-post-sidebar-right.html" class="t15">{{block.title}}</a>
                  <p class="t16">{{block.date}}</p>
                  <p class="t17">{{block.text}}
                  <br/><span><a href = "#">More</a></span></p>
                </div>
           
          
          <!-- <div class="col-sm-3 col-xs-12 text-left t14">
              <a href="http://warhol.thememountain.com/blog-single-post-sidebar-right.html" class="t15">From Plan to Execution</a>
              <p class="t16">25 AUG 2015  /  BY MADDY</p>
              <p class="t17">Mauris sodales in enim sit sodales dolor, placerat ultrices ut pede justo odio. In accumsan morbi at, mi luctus nullam volutpat facilisis cursus sed quis autem vel<br> eum iure.
              <br/><span><a href = "#">More</a></span></p>
          </div>
          <div class="col-sm-3 col-xs-12 text-left t14">
              <a href="http://warhol.thememountain.com/blog-single-post-sidebar-right.html" class="t15">New Team Member</a>
              <p class="t16">25 AUG 2015  /  BY HALEY</p>
              <p class="t17">Tincidunt mauris sit suspendisse.<br> Scelerisque lorem nec, tempus quis nullam nec gravida, convallis ac, nascetur id eget lectus nibh quam ad, in magna mi est adipiscing donec dui.
              <br/><span><a href = "#">More</a></span></p>
          </div> -->
      </div>
  </div>
</div>
<div class = "row">
  <div class = "col-sm-12 col-xs-12">
      <p class = "fir">
          <button class = "button1">View All Photos</button>
      </p>
  </div>
</div>